
h1{
    text-align: center ;
    font-size: 70px;
}

h2{
    color :rgb(122, 93, 182) ; 
    text-align: center ;
    padding-bottom: 5%;
    padding-top: 5%;
    font-size : 60px;
    background-color: white ;
    border-radius: 50% 20% / 10% 40%;
    border-width: 5%;
   
}

.a_propos{
    background-color: rgb(218, 201, 252);
    padding-bottom: 10%;
    padding-top: 3%;
}

.equipe_im{
    width: 30% ;
    height: 90% ;
    padding-left: 10% ;
    
}

.equipe_prenom{
    list-style: none;
    font-weight: 600;
    font-size: 20px;
    margin: 0 7%;
    padding: 0%;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;  
}

.equipe div{
    display: flex;
    text-align: center;
    padding-left: 10% ;
    padding-bottom: 2%;
}

.equipe {
    display : flex ; 
    text-align: center ;
}


p{
    font-size:20px ; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left : 3% ;
    padding-right: 5%;
    padding-bottom: 5%;

}